<h1>Edit <%= @recipe.product.name_product %> recipe</h1>

<% if @recipe.errors.any? %>
  <h2> Errors occured</h2>
  <ul>
    <% @recipe.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: @recipe, local:true) do |form| %>
  <table style="width:50%">
    <tr>
      <th>Ingredient</th>
      <th>Quantity</th>
    </tr>
    <% unless @recipe.ingredient_recipes.nil? %>

      <% @recipe.ingredient_recipes.each do |ingredient_recipe| %>
        <tr>
          <th> <%= ingredient_recipe.ingredient.name_ingredient %> </th>
          <th> <%= form.number_field ingredient_recipe.ingredient.name_ingredient, :step => "0.1", :min => 0, :value => ingredient_recipe.quantity_recipe %> </th>
        </tr>
      <% end %>

    <% end %>

    <% unless @recipe.subproduct_recipes.nil? %>

      <% @recipe.subproduct_recipes.each do |subproduct| %>
        <tr>
          <th> <%= subproduct.product.name_product %> </th>
          <th> <%= form.number_field subproduct.product.name_product, :step => "0.1", :value => subproduct.quantity_recipe %> </th>
        </tr>
      <% end %>

    <% end %>

  </table>
  <p>
    <%= form.submit 'Edit recipe' %>
  </p>
<% end %>
