<h1> <%= @recipe.product.name_product %> </h1>

<table style="width:80%">
  <tr>
    <th>Ingredient</th>
    <th>Quantity</th>
    <th>Price</th>
  </tr>
  <% @recipe.ingredient_recipes.each do |ir| %>
    <tr>
      <th> <%= ir.ingredient.name_ingredient %> </th>
      <th> <%= ir.quantity_recipe %> </th>
      <th> <%= ir.price_ingredient %> </th>
    </tr>
  <% end %>
  <% @recipe.subproduct_recipes.each do |subproduct| %>
  <tr>
    <th> <%= subproduct.product.name_product %> </th>
    <th> <%= subproduct.quantity_recipe %> </th>
    <% if subproduct.product.recipe %>
      <th> <%= subproduct.product.recipe.total_price %> </th>
    <% else %>
      <th> Add Subproduct recipe</th>
    <% end %>
  </tr>
  <% end %>
  <tr>
    <th>Total price</th>
    <th></th>
    <th> <%= @recipe.total_price %> </th>
  </tr>
</table>