<h3 class="display-3"> <%= @ingredient.name_ingredient %> </h3>

<ul>
  <li><%= @ingredient.attr_1 %></li>
  <li><%= @ingredient.attr_2 %></li>
  <li><%= @ingredient.attr_3 %></li>
  <li><%= @ingredient.exparation_date %></li>
  <li><%= @ingredient.last_price %></li>
</ul>