<h3 class="display-3"> <%= @ingredient.name_ingredient  %> </h3>

<p> Current price: <%= @ingredient.last_price %>€ <%= @ingredient.unit %> </li> </p>
<br>

<h5> Price history </h5>
<table style="width:50%">
  <tr>
    <th>Price</th>
    <th>Quantity per unit</th>
    <th>Price per unit</th>
    <th>Brand</th>
    <th>Supplier</th>
    <th>Date</th>
  </tr>
  <% @ingredient.price_histories.order(created_at: :desc).each do |history| %>
    <tr>
      <td>
        <%= history.price %>
      </td>
      <td>
        <%= history.quantity_per_unit %>
      </td>
      <td>
        <% value = history.price.nil? || history.quantity_per_unit.nil? ? 0 : history.price / history.quantity_per_unit %>
        <%= value %>
      </td>
      <td>
        <%= history.brand %>
      </td>
      <td>
        <%= history.supplier %>
      </td>
      <td> <%= history.created_at.strftime("%Y-%m-%d") %> </td>
    </tr>
  <% end %>
</table>

<br>
<table>
  <td>
    <%= button_to 'Edit', edit_ingredient_path(@ingredient), method: :get  %>
  </td>

  <td>
    <%= button_to 'Delete', ingredient_path(@ingredient), method: :delete, form: {
                data: { turbo_confirm: 'Are you sure?' } } %>
  </td>
</table>