<h1>StockPerLocations#index</h1>

<% @stocks.each do |stock| %>
  <table style="width:50%">
  <h1> <%= stock.first.location.name_location %> </h1>
  <tr>
    <th>Product</th>
    <th>Quantity</th>
    <th>Update inventory</th>
  </tr>
  <% stock.each do |location| %>
    <tr>
      <td>
        <%= location.product.name_product %>
      </td>
      <td>
        <%= location.product.quantity %>
      </td>
      <td>
          <%= form_with(model: location,  local:true) do |form| %>
            <p>
              <%= form.number_field :quantity, :value => 0 %> <%= form.submit%>
            </p>
          <% end %>
        </td>
  <% end %>
  </table>
<% end %>
