<h1>Products in Lab</h1>

<table style="width:80%">
  <tr>
    <th>Product</th>
    <th>Quantity</th>
    <th>Production</th>
    <th>Actions</th>
  </tr>
  <% @products.each do |product| %>
    <tr>
      <td>
        <%= link_to product.name_product, product_path(product), class: "nav-link" %>
      </td>
      <td>
        <%= product.quantity_product %>
      </td>
      <td>
        <% if product.recipe.nil? %>
          <p> Add recipe to produce </p>
        <% else %>
          <%= form_with(model: product,  local:true) do |form| %>
            <p>
              <%= form.number_field :quantity_product, :value => 0 %> <%= form.submit 'Produce'%>
            </p>
          <% end %>
        <% end %>
      </td>
      <td><%= button_to 'Delete', product_path(product), method: :delete, form: {
          data: { turbo_confirm: 'Are you sure?' } } %>
      </td>
      <td>
        <%= button_to 'Edit', edit_product_path(product), method: :get  %>
      </td>
    </tr>
  <% end %>
</table>
<br>
<button> <%= link_to "New product", new_product_path, class: "nav-link" %> </button>
