<h1> <%= @product.name_product %> </h1>
<br>
<p> Quantity: <%= @product.quantity_product %> </p>
<p> Recipe text: <%= @product.recipe_text %> </p>
<table style=>
  <% if @product.recipe %>
    <td>
      <%= button_to 'Recipe', recipe_path(@product.recipe), method: :get  %>
    </td>
  <% else %>
    <td>
      <%= button_to "Add #{@product.name_product} recipe", new_recipe_path, method: :get  %>
    </td>
  <% end %>

  <td>
    <%= button_to 'Edit product info', edit_product_path(@product), method: :get  %>
  </td>

  <td>
    <%= button_to 'Delete product', product_path(@product), method: :delete, form: {
            data: { turbo_confirm: 'Are you sure?' } } %>
  </td>

</table>
